* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    background-color: #b8b8b8;
    justify-content: center;
}

.item1 {
    width: 200px;
    height: 200px;
    background: blue;
    margin: 10px;
    color: #fff;
}

.item2 {
    width: 200px;
    height: 200px;
    background: black;
    margin: 10px;
    color: #fff;
}

.item3 {
    width: 200px;
    height: 200px;
    background: red;
    margin: 10px;
    color: #fff;
}

.item4 {
    width: 200px;
    height: 200px;
    background: green;
    margin: 10px;
    color: #fff;
}