* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html {
  font-size: 55.5%;
}



body {
  font-family: "goldman", cursive;
  font-size: 15px;
  font-size: 2em;
}


ul {
  
  list-style-type: none;
  overflow: hidden;
}


li {
  float: left;
}

li a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 0.8rem 1rem;
  display: inline-block;
}








nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  color: red;
  background: red;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

table {
  width: 1300px;
}